.themes {
    width: 750px;
    height: 75px;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.theme {
    width: 64px;
    height: 64px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme:hover {
    cursor: pointer;
}

.theme .buns {
    width: 100%;
    height: 75%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.theme .bun {
    width: 65%;
    height: 3px;
    margin-bottom: 3px;
}

.white {
    background: white;
}

.azure {
    background: #56cbdb;
}

.blond {
    background: #d7da4f;
}

.rose {
    background: #df6caf;
}

.verde {
    background: #53e65f;
}

.theme .name {
    width: 100%;
    height: 25%;
    background: rgba(255, 255, 255, 0.75);
    color: black;
    text-align: center;
    line-height: 17px;
}